@model freioficina.model.livromodel

@{
    ViewBag.Title = "deletar";
}

<h2>deletar</h2>

<h3>Voce tem certeza que deseja deletar   @Html.DisplayFor(model => model.nmlivro)? </h3>
<div>
    <style>
        #btn {
            text-decoration: none;
            display: inline-block;
            padding: 8px 30px;
            border-radius: 40px;
            background: #fff;
            color: brown;
            font-size: 1.5em;
            z-index: 9;
            transform: translateY(-5px);
            transform: translateX(105px);
        }
    </style>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idlivro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idlivro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nmlivro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmlivro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nmautor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmautor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtlancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtlancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtleitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtleitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" id="btn" /> |
          
        </div>
    }
</div>
