@model freioficina.model.livromodel

@{
    ViewBag.Title = "deletar";
}

<h2>deletar</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>livromodel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.idlivro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idlivro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nmlivro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmlivro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nmautor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nmautor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtlancamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtlancamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtleitura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtleitura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lido)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "listar")
        </div>
    }
</div>
