@model IEnumerable<freioficina.model.livromodel>

@{
    ViewBag.Title = "listar";
}

<h2>listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idlivro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nmlivro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nmautor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtlancamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtleitura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idlivro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nmlivro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nmautor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtlancamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dtleitura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idlivro = item.idlivro}) |
            @Html.ActionLink("Delete", "Delete", new { idlivro = item.idlivro })
        </td>
    </tr>
}

</table>
