<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'poppins',sans-serif;
            scroll-behavior: smooth;
        }

        body {
            min-height: 100vh;
            overflow-x: hidden;
            background: linear-gradient(Brown,Black);
        }

        header {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 30px 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 10000;
        }

            header .logo {
                color: #fff;
                font-weight: 700;
                text-decoration: none;
                font-size: 2em;
                text-transform: uppercase;
                letter-spacing: 2px;
            }

            header ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                header ul li {
                    list-style: none;
                    margin-left: 20px;
                }

                    header ul li a {
                        text-decoration: none;
                        padding: 6px 15px;
                        color: #fff;
                        border-radius: 20px;
                    }

                        header ul li a:hover {
                            background: #fff;
                            color: brown;
                        }

        section {
            position: relative;
            width: 100%;
            height: 100vh;
            padding: 100px;
            display: flex;
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }

            section::before {
                content: '';
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 100px;
                background: linear-gradient(to top, brown,transparent);
                z-index: 1000;
            }

            section img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }

                section img#book {
                    z-index: 10;
                }

        #text {
            position: absolute;
            color: #fff;
            white-space: nowrap;
            font-size: 7.5vw;
            z-index: 9;
            transform: translateY(-160px);
        }

        #btn {
            text-decoration: none;
            display: inline-block;
            padding: 8px 30px;
            border-radius: 40px;
            background: #fff;
            color: brown;
            font-size: 1.5em;
            z-index: 9;
            transform: translateY(100px);
        }

        .sec {
            position: relative;
            padding: 100px;
            background: brown;
        }

            .sec h2 {
                font-size: 3.5em;
                margin-bottom: 10px;
                color: #fff;
            }

            .sec p {
                font-size: 1em;
                color: #fff;
            }
    </style>

</head>
<body>
    <header>
        <a href="" class="logo">Readerbook</a>
        <ul>

            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Cadastrar", "cadastrar", "livro")</li>
            <li>@Html.ActionLink("Consultar", "listar", "livro")</li>
        </ul>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Readerbook
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
